@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f2e000;
  border-radius: 8px;
}

::selection {
  color: white;
  background: #f2e000;
}

.hover-bg:hover h1 {
  color: white;
}
.hover-bg:hover h2 {
  color: white;
}

.hover-bg:hover p {
  color: white;
}

.hover-bg:hover .check {
  color: white;
}
