@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f2e000;
  border-radius: 8px;
}

::selection {
  color: white;
  background: #f2e000;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
  background: rgba(5, 44, 66, 0.2);
}

.hover-bg:hover h1 {
  color: white;
}
.hover-bg:hover h2 {
  color: white;
}

.hover-bg:hover p {
  color: white;
}

.hover-bg:hover .check {
  color: white;
}

.container-input {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30vw;
}

.container-label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #f2e000;
  background-color: wheat;
  padding: 0 5px;
  transition: all 0.2s ease-in-out;
}

.container-input :focus-within .container-label {
  top: 0;
  font-size: 12px;
}

.ProseMirror {
  background: transparent;
  min-height: 100px;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.heading3 {
  font-size: 15px;
}
